@use 'sass:math';
@import './breakpoints';
/*
screen types:
    mobile,
    to-tablet
    tablet,
    to-desktop
    desktop,
*/
@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($_fsz, $_lnh) {
  font-size: #{$_fsz}px;

  $result: math.div($_lnh, $_fsz);

  line-height: math.div(math.round($result * 100), 100);
}

@mixin retina {
  @media screen and (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 2dppx),
         (min-resolution: 192dpi) {
    @content;
  }
}

@mixin footer-padding($page) {
  @if $page == "home" {
    padding-top: 120px;
  } @else {
    padding-top: 0;
  }
}