$_main_color: #fff;
$_second_color: #000;
$_title_color: #ffe433;
$_main_bg_color: #59b4f1;
$_accent_color: #eb4930;
$_shadow_img: rgba(0, 0, 0, 0.18);
$_shadow_btn: rgba(0, 0, 0, 0.25);
$_btn_gradient: linear-gradient(180deg, #ffe433 0%, #fff4b0 35%, #f9bb1e 100%);
$_white: #fff;
$_black: #000;

$_main_font: 'Poetsen One', sans-serif;

$_text_shadow_2px: -2px -2px 0 $_accent_color, 2px -2px 0 $_accent_color,
  -2px 2px 0 $_accent_color, 2px 2px 0 $_accent_color, 0px -2px 0 $_accent_color,
  0px 2px 0 $_accent_color, -2px 0px 0 $_accent_color, 2px 0px 0 $_accent_color;

$_text_shadow_3px: -3px -3px 0 $_accent_color, 3px -3px 0 $_accent_color,
  -3px 3px 0 $_accent_color, 3px 3px 0 $_accent_color, 0px -3px 0 $_accent_color,
  0px 3px 0 $_accent_color, -3px 0px 0 $_accent_color, 3px 0px 0 $_accent_color;

$_text_shadow_4px: -4px -4px 0 $_accent_color, 4px -4px 0 $_accent_color,
  -4px 4px 0 $_accent_color, 4px 4px 0 $_accent_color, 0px -4px 0 $_accent_color,
  0px 4px 0 $_accent_color, -4px 0px 0 $_accent_color, 4px 0px 0 $_accent_color;
