<section class="faq-page">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>

    <div class="js-accordion accordion">
      <div class="js-accordion-item accordion-item">
        <div class="js-accordion-trigger accordion-trigger">
          <h3 class="js-accordion-subtitle accordion-subtitle">
            Is Gourmet Match free to play?
          </h3>
          <img class="star-icon" src="../img/star.png" alt="Star" width="48" srcset="../img/star@2x.png">

          <div class="js-accordion-body accordion-body">
            <p class="accordion-text">
              Yes! You can download and play for free, with optional in-app
              purchases available.
            </p>
          </div>
        </div>
      </div>

      <div class="js-accordion-item accordion-item">
        <div class="js-accordion-trigger accordion-trigger">
          <h3 class="js-accordion-subtitle accordion-subtitle">
            Can I play offline?
          </h3>
          <img class="star-icon" src="../img/star.png" alt="Star" width="48" srcset="../img/star@2x.png">

          <div class="js-accordion-body accordion-body">
            <p class="accordion-text">
              Yes, you can enjoy the game offline, but some features require an
              internet connection.
            </p>
          </div>
        </div>
      </div>

      <div class="js-accordion-item accordion-item">
        <div class="js-accordion-trigger accordion-trigger">
          <h3 class="js-accordion-subtitle accordion-subtitle">
            How do I unlock new recipes?
          </h3>
          <img class="star-icon" src="../img/star.png" alt="Star" width="48" srcset="../img/star@2x.png">

          <div class="js-accordion-body accordion-body">
            <p class="accordion-text">
              Advance through levels, complete challenges, and discover hidden
              recipes along the way!
            </p>
          </div>
        </div>
      </div>

      <div class="js-accordion-item accordion-item">
        <div class="js-accordion-trigger accordion-trigger">
          <h3 class="js-accordion-subtitle accordion-subtitle">
            Are there special events?
          </h3>
          <img class="star-icon" src="../img/star.png" alt="Star" width="48" srcset="../img/star@2x.png">

          <div class="js-accordion-body accordion-body">
            <p class="accordion-text">
              Absolutely! Enjoy seasonal events, themed challenges, and exciting
              in-game surprises.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
