<footer class="footer-page">
  <div class="container footer-container">
    <h2 class="footer-title">Gourmet Match</h2>
    <img
      src="./img/gourmet.png"
      alt="Gourmet Match home page"
      srcset="./img/gourmet@2x.png"
      width="88"
      height="158"
      class="img-mobile"
    />
    <ul class="list-footer">
      <li class="item-footer">
        <img
          src="./img/frame1.png"
          alt="Game view"
          srcset="./img/frame1@2x.png"
          width="84"
          height="110"
          class="img-item-footer first"
        />
      </li>
      <li class="item-footer">
        <img
          src="./img/frame2.png"
          alt="Game view"
          srcset="./img/frame2@2x.png"
          width="105"
          height="137"
          class="img-item-footer"
        />
      </li>
      <li class="item-footer">
        <img
          src="./img/frame3.png"
          alt="Game view"
          srcset="./img/frame3@2x.png"
          width="84"
          height="110"
          class="img-item-footer last"
        />
      </li>
    </ul>
    <a
      class="store-btn-footer"
      href="https://play.google.com/store/apps/details?id=com.match.free.gourmet&hl=en&gl=us"
    >
      <div>
        <img
          src="./img/playstore.png"
          alt="Playstore"
          srcset="./img/playstore@2x.png"
          width="28"
          height="28"
          class="store-icon-footer"
        />
      </div>
      <div class="store-box-footer">
        <p class="store-text">GET IT ON</p>
        <p class="store-text-google">Goole Play</p>
      </div></a
    >
    <div class="privacy-box-footer">
      <img
        src="./img/star.png"
        alt="Star"
        srcset="./img/star@2x.png"
        width="64"
        height="76"
        class="star-footer"
      />
      <div class="link-box-footer">
        <a href="./privacy.html" class="link-text-footer"> Privacy Policy</a>
        <div class="decor-line-primary"></div>
        <a href="./terms.html" class="link-text-footer">Terms and Conditions</a>
        <div class="decor-line-secondary"></div>
        <a class="link-text-footer" href="./cookies.html">Cookies Policy</a>
        <p class="copyright-footer">
          All rights reserved joymasterway.com | 2025
        </p>
      </div>
      <img
        src="./img/star.png"
        alt="Star"
        srcset="./img/star@2x.png"
        width="64"
        height="76"
        class="star-footer"
      />
    </div>
  </div>
</footer>
