<section class="gallery-page">
  <div class="container galery-container">
    <h2 class="title-gallery">Gallery</h2>
    <div class="card-gallery-box">
      <ul class="list-card-gallery">
        <li class="list-item">
          <img
            class="card-gallery"
            src="./img/experience.png"
            alt="Game preview"
            srcset="./img/experience@2x.png"
            width="144"
            height="256"
          />
        </li>
        <li class="list-item">
          <img
            class="card-gallery"
            src="./img/buster.png"
            alt="Game preview"
            srcset="./img/buster@2x.png"
            width="144"
            height="256"
          />
        </li>
        <li class="list-item">
          <img
            class="card-gallery"
            src="./img/gourmet.png"
            alt="Game preview"
            srcset="./img/gourmet@2x.png"
            width="144"
            height="256"
          />
        </li>
        <li class="list-item">
          <img
            class="card-gallery"
            src="./img/rewards.png"
            alt="Game preview"
            srcset="./img/rewards@2x.png"
            width="144"
            height="256"
          />
        </li>
        <li class="list-item">
          <img
            class="card-gallery"
            src="./img/collect.png"
            alt="Game preview"
            srcset="./img/collect@2x.png"
            width="144"
            height="256"
          />
        </li>
      </ul>
    </div>
    <!-- mobile slider-->
    <div class="js-gallery-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="card-gallery active"
            src="./img/experience.png"
            alt="Game preview"
            srcset="./img/experience@2x.png"
            width="144"
            height="256"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="card-gallery"
            src="./img/buster.png"
            alt="Game preview"
            srcset="./img/buster@2x.png"
            width="144"
            height="256"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="card-gallery"
            src="./img/gourmet.png"
            alt="Game preview"
            srcset="./img/gourmet@2x.png"
            width="144"
            height="256"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="card-gallery"
            src="./img/rewards.png"
            alt="Game preview"
            srcset="./img/rewards@2x.png"
            width="144"
            height="256"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="card-gallery"
            src="./img/collect.png"
            alt="Game preview"
            srcset="./img/collect@2x.png"
            width="144"
            height="256"
          />
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <div class="star-box">
      <div>
        <img
          class="small-star-gallery"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
      </div>
      <div>
        <img
          class="big-star-gallery"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="64"
          height="76"
        />
      </div>
      <div>
        <img
          class="small-star-gallery"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
      </div>
    </div>
  </div>
</section>
