<section class="descr-page">
  <div class="container container-descr">
    <h2 class="title-descr">Game Description</h2>
    <p class="text-descr">
      Step into the flavorful journey of Gourmet Match, where Sam leaves behind
      the chaos of city life to embark on a culinary adventure like never
      before! Travel to breathtaking locations, discover exotic ingredients, and
      master the art of cooking through exciting Match-3 puzzles. Unravel Sam’s
      story as he rediscovers his passion for food and life itself!
    </p>
    <ul class="list-descr">
      <li class="item-descr">
        <img
          class="icon-item-descr"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
        <p class="text-item-descr">
          Addictive Match-3 Gameplay: Swap, match, and combine ingredients to
          create mouthwatering dishes.
        </p>
      </li>
      <li class="item-descr">
        <img
          class="icon-item-descr"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
        <p class="text-item-descr">
          Exciting Culinary Journey: Explore different cuisines and uncover
          unique recipes from around the world.
        </p>
      </li>
      <li class="item-descr">
        <img
          class="icon-item-descr"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
        <p class="text-item-descr">
          Engaging Storyline: Follow Sam’s adventure as he seeks a fresh start
          away from the city’s hustle.
        </p>
      </li>
      <li class="item-descr">
        <img
          class="icon-item-descr"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
        <p class="text-item-descr">
          Creative Challenges & Boosters: Solve puzzles, unlock powerful
          boosters, and overcome fun obstacles.
        </p>
      </li>
      <li class="item-descr">
        <img
          class="icon-item-descr"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
        <p class="text-item-descr">
          Daily Rewards & Special Events: Participate in time-limited challenges
          and win exclusive prizes!
        </p>
      </li>

      <li class="item-descr">
        <img
          class="icon-item-descr"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
        <p class="text-item-descr">
          Beautifully Designed Locations: Travel across picturesque landscapes
          and vibrant culinary destinations.
        </p>
      </li>
    </ul>
  </div>
</section>
