<header class="header">
  <div class="container header-container">
    <button type="button" class="head-btn" id="openbutton">
      <svg class="menu-open-btn">
        <use href="../img/sprite.svg#icon-buget"></use>
      </svg>
    </button>

    <nav class="head-nav">
      <ul class="head-list head-list-app">
        <li class="head-list-item">
          <a class="head-list-link" href="#home"> Home </a>
        </li>
        <li class="head-list-item">
          <a class="head-list-link" href="#about-us"> About </a>
        </li>
        <li class="head-list-item">
          <a class="head-list-link" href="#gallery"> Gallery</a>
        </li>
      </ul>
    </nav>

    <img
      class="head-logo"
      src="../img/logo.png"
      alt="Logo"
      srcset="../img/logo@2x.png"
      width="36px"
      height="36px"
    />

    <nav class="head-nav">
      <ul class="head-list head-list-application">
        <li class="head-list-item">
          <a class="head-list-link" href="#reviews"> Reviews</a>
        </li>
        <li class="head-list-item">
          <a class="head-list-link" href="#how-to-play"> Play </a>
        </li>
        <li class="head-list-item">
          <a class="head-list-link" href="#faq"> Faq</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="backdrop" id="mobile-menu">
  <div class="mobile-container">
    <img
      class="head-logo"
      src="../img/logo.png"
      alt="Logo"
      srcset="../img/logo@2x.png"
      width="36px"
      height="36px"
    />
  </div>
  <nav class="mob-nav">
    <ul class="mob-list">
      <li class="mob-list-item">
        <a class="nav-link" href="#home">Home</a>
        <img
          class="mob-star"
          src="../img/star.png"
          alt="star"
          width="48px"
          height="56px"
        />
      </li>
      <li class="mob-list-item">
        <a class="nav-link" href="#about-us">About us</a>
        <img
          class="mob-star"
          src="../img/star.png"
          alt="star"
          width="48px"
          height="56px"
        />
      </li>
      <li class="mob-list-item">
        <a class="nav-link" href="#gallery">Gallery</a>
        <img
          class="mob-star"
          src="../img/star.png"
          alt="star"
          width="48px"
          height="56px"
        />
      </li>
      <li class="mob-list-item">
        <a class="nav-link" href="#reviews">Reviews</a>
        <img
          class="mob-star"
          src="../img/star.png"
          alt="star"
          width="48px"
          height="56px"
        />
      </li>
      <li class="mob-list-item">
        <a class="nav-link" href="#how-to-play">How To Play</a>
        <img
          class="mob-star"
          src="../img/star.png"
          alt="star"
          width="48px"
          height="56px"
        />
      </li>
      <li class="mob-list-item">
        <a class="nav-link" href="#faq">Faq</a>
        <img
          class="mob-star"
          src="../img/star.png"
          alt="star"
          width="48px"
          height="56px"
        />
      </li>
    </ul>
  </nav>
  <img
    class="mob-menu-down"
    src="../img/mob_menu_down.png"
    alt="mob_menu_down"
    srcset="../img/mob_menu_down@2x.png"
    width="320px"
  />
  <button type="button" class="mob-menu-btn">Play Now</button>
</div>
