<section class="hero-page" id="home">
  <div class="container hero-container">
    <h1 class="title-hero">Gourmet Match</h1>
    <h3 class="subtitle-hero">
      Match, Cook, and Explore the World of Flavors!
    </h3>
    <ul class="list-hero">
      <li class="item-hero">
        <img
          src="./img/frame1.png"
          alt="Game view"
          srcset="./img/frame1@2x.png"
          width="146"
          height="195"
          class="img-item-hero first"
        />
      </li>
      <li class="item-hero">
        <img
          src="./img/frame2.png"
          alt="Game view"
          srcset="./img/frame2@2x.png"
          width="182"
          height="254"
          class="img-item-hero"
        />
      </li>
      <li class="item-hero">
        <img
          src="./img/frame3.png"
          alt="Game view"
          srcset="./img/frame3@2x.png"
          width="146"
          height="195"
          class="img-item-hero last"
        />
      </li>
    </ul>

    <div class="js-hero-swiper hero-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            width="184"
            height="256"
            src="./img/frame2.png"
            alt="Game view"
            srcset="./img/frame2@2x.png"
            class="img-item-hero"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/frame1.png"
            alt="Game view"
            srcset="./img/frame1@2x.png"
            width="184"
            height="256"
            class="img-item-hero"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/frame3.png"
            alt="Game view"
            srcset="./img/frame3@2x.png"
            width="184"
            height="256"
            class="img-item-hero"
          />
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <p class="text-hero">
      A vibrant scene of gourmet chef Sam traveling through picturesque
      locations, preparing delicious dishes, and matching ingredients in a
      lively puzzle world.
    </p>
    <a
      href="https://play.google.com/store/apps/details?id=com.match.free.gourmet&hl=en&gl=us"
      class="button-hero"
      >Play Now</a
    >
  </div>
</section>
