<section class="how-to-play-page">
  <div class="container container-how-to-play">
    <h2 class="how-to-play-title">How To Play</h2>
    <ul class="list-how-to-play">
      <li class="item-how-to-play">
        <h3 class="subtitle-how-to-play">1</h3>
        <p class="text-how-to-play">
          Swap & Match: Match three or more identical ingredients to clear them
          from the board.
        </p>
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/how-to-play-btn-d.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/how-to-play-btn-m.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <img
            src="./img/how-to-play-btn-m.png"
            alt="Button"
            width="288"
            height="44"
          />
        </picture>
        <img
          class="star-for-btn"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
      </li>
      <li class="item-how-to-play">
        <h3 class="subtitle-how-to-play">2</h3>
        <p class="text-how-to-play">
          Create Special Combos: Combine four or more ingredients to unlock
          powerful boosters.
        </p>
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/how-to-play-btn-d.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/how-to-play-btn-m.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <img
            src="./img/how-to-play-btn-m.png"
            alt="Button"
            width="288"
            height="44"
          />
        </picture>
        <img
          class="star-for-btn second"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
      </li>
      <li class="item-how-to-play">
        <h3 class="subtitle-how-to-play">3</h3>
        <p class="text-how-to-play">
          Complete Objectives: Each level has unique goals, from collecting
          ingredients to removing obstacles.
        </p>
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/how-to-play-btn-d.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/how-to-play-btn-m.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <img
            src="./img/how-to-play-btn-m.png"
            alt="Button"
            width="288"
            height="44"
          />
        </picture>
        <img
          class="star-for-btn third"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
      </li>
      <li class="item-how-to-play">
        <h3 class="subtitle-how-to-play">4</h3>
        <p class="text-how-to-play fourth">
          Unlock New Recipes: Progress through levels to discover delicious new
          dishes.
        </p>
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/how-to-play-btn-d.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/how-to-play-btn-m.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <img
            src="./img/how-to-play-btn-m.png"
            alt="Button"
            width="288"
            height="44"
          />
        </picture>
        <img
          class="star-for-btn fourth"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
      </li>
      <li class="item-how-to-play">
        <h3 class="subtitle-how-to-play">5</h3>
        <p class="text-how-to-play">
          Use Boosters Wisely: Power-ups and boosters can help overcome tricky
          challenges.
        </p>
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/how-to-play-btn-d.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/how-to-play-btn-m.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <img
            src="./img/how-to-play-btn-m.png"
            alt="Button"
            width="288"
            height="44"
          />
        </picture>
        <img
          class="star-for-btn"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
      </li>
      <li class="item-how-to-play">
        <h3 class="subtitle-how-to-play">6</h3>
        <p class="text-how-to-play">
          Join Events & Challenges: Participate in limited-time events for
          exclusive rewards challenges.
        </p>
        <picture class="how-to-play-btn">
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/how-to-play-btn-d.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/how-to-play-btn-m.png    1x,
              ./img/how-to-play-btn-d@2x.png 2x
            "
          />
          <img
            src="./img/how-to-play-btn-m.png"
            alt="Button"
            width="288"
            height="44"
          />
        </picture>
        <img
          class="star-for-btn sixth"
          src="./img/star.png"
          alt="Star"
          srcset="./img/star@2x.png"
          width="48"
          height="56"
        />
      </li>
    </ul>
  </div>
</section>
