<div class="mob-menu js-mob-menu">
  <div class="mob-menu-container">
    <div class="mob-menu-header">
      <img
        class="logo-menu"
        src="/img/logo.png"
        alt="Logo"
        srcset="/img/logo@2x.png"
        width="36"
        height="36"
      />
      <div class="mob-menu-close js-mob-menu-close">
        <svg class="menu-close-icon" width="28" height="28">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </div>
    </div>
    <nav class="mob-nav">
      <ul class="list-mob-menu">
        <li class="item-mob-menu">
          <a class="js-link-mob-menu link-mob-menu" href="#home">Home</a>
          <img
            class="star-mob-menu"
            src="/img/star.png"
            alt="Star"
            srcset="/img/star@2x.png"
            width="48"
            height="56"
          />
        </li>
        <li class="item-mob-menu">
          <a class="js-link-mob-menu link-mob-menu" href="#about-us"
            >Game Description</a
          >
          <img
            class="star-mob-menu"
            src="/img/star.png"
            alt="Star"
            srcset="/img/star@2x.png"
            width="48"
            height="56"
          />
        </li>
        <li class="item-mob-menu">
          <a class="js-link-mob-menu link-mob-menu" href="#play">How To Play</a>
          <img
            class="star-mob-menu"
            src="/img/star.png"
            alt="Star"
            srcset="/img/star@2x.png"
            width="48"
            height="56"
          />
        </li>
        <li class="item-mob-menu">
          <a class="js-link-mob-menu link-mob-menu" href="#faq">FAQ</a>
          <img
            class="star-mob-menu"
            src="/img/star.png"
            alt="Star"
            srcset="/img/star@2x.png"
            width="48"
            height="56"
          />
        </li>
        <li class="item-mob-menu">
          <a class="js-link-mob-menu link-mob-menu" href="#reviews">Players Reviews</a>
          <img
            class="star-mob-menu"
            src="/img/star.png"
            alt="Star"
            srcset="/img/star@2x.png"
            width="48"
            height="56"
          />
        </li>
        <li class="item-mob-menu">
          <a class="js-link-mob-menu link-mob-menu" href="#gallery">Gallery</a>
          <img
            class="star-mob-menu"
            src="/img/star.png"
            alt="Star"
            srcset="/img/star@2x.png"
            width="48"
            height="56"
          />
        </li>
      </ul>
    </nav>
    <a
      href="https://play.google.com/store/apps/details?id=com.match.free.gourmet&hl=en&gl=us"
      class="mob-menu-play-btn"
      target="_blank"
      rel="noopener noreferrer"
      >Play Now</a
    >
  </div>
</div>
