<div class="mob-menu js-mob-menu">
  <div class="mob-menu-container">
    <div class="mob-menu-header">
      <img
        class="logo-menu"
        src="../img/logo.png"
        alt="Logo"
        srcset="../img/logo@2x.png"
        width="36"
        height="36"
      />
      <div class="mob-menu-close js-mob-menu-close">
        <svg class="menu-close-icon" width="16" height="16">
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>
      </div>
    </div>
    <nav class="mob-nav">
      <ul class="list-mob-menu">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about-us">About us</a>
        </li>
        <li>
          <a href="#gallery">Gallery</a>
        </li>
        <li>
          <a href="#reviews">Reviews</a>
        </li>
        <li>
          <a href="#play">How to Play</a>
        </li>
        <li>
          <a href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
