<section class="reviews-page" id="reviews">
  <div class="container reviews-container">
    <h2 class="title-reviews">Players Reviews</h2>
    <div class="js-revies-swiper revies-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews"
            width="50"
            height="50"
            src="./img/emily.png"
            alt="Emily photo"
            srcset="./img/emily@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Emily R., Food Enthusiast:</h3>
          <p class="text-reviews">
            "A perfect blend of puzzle-solving and culinary adventure! Love
            unlocking new recipes!"
          </p>
        </div>
        <div class="swiper-slide reviews">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews"
            width="50"
            height="50"
            src="./img/daniel.png"
            alt="Daniel photo"
            srcset="./img/daniel@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Daniel K., Casual Gamer:</h3>
          <p class="text-reviews">
            "Relaxing yet exciting! The visuals and storyline make it truly
            immersive."
          </p>
        </div>
        <div class="swiper-slide reviews">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews"
            width="50"
            height="50"
            src="./img/sophia.png"
            alt="Sophia photo"
            srcset="./img/sophia@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Sophia L., Match-3 Expert:</h3>
          <p class="text-reviews">
            "Great balance of challenge and fun. The boosters and combos are so
            satisfying!"
          </p>
        </div>
        <div class="swiper-slide reviews">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews"
            width="50"
            height="50"
            src="./img/mike.png"
            alt="Mike photo"
            srcset="./img/mike@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Mike T., Travel Lover:</h3>
          <p class="text-reviews">
            "Exploring new food cultures while playing a game? Count me in!"
          </p>
        </div>
        <div class="swiper-slide reviews">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews"
            width="50"
            height="50"
            src="./img/sarah.png"
            alt="Sarah photo"
            srcset="./img/sarah@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Sarah P., Adventure Seeker:</h3>
          <p class="text-reviews">
            "Sam&rsquo;s journey feels so real and inspiring! Can't wait to see
            what&rsquo;s next!"
          </p>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <!-- desktop -->
    <div class="reviews-card-desktop">
      <ul class="card-list">
        <li class="card-item">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews-desktop"
            width="50"
            height="50"
            src="./img/emily.png"
            alt="Emily photo"
            srcset="./img/emily@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Emily R., Food Enthusiast:</h3>
          <p class="text-reviews">
            "A perfect blend of puzzle-solving and culinary adventure! Love
            unlocking new recipes!"
          </p>
        </li>
        <li class="card-item">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews-desktop"
            width="50"
            height="50"
            src="./img/daniel.png"
            alt="Daniel photo"
            srcset="./img/daniel@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Daniel K., Casual Gamer:</h3>
          <p class="text-reviews">
            "Relaxing yet exciting! The visuals and storyline make it truly
            immersive."
          </p>
        </li>
        <li class="card-item">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews-desktop"
            width="50"
            height="50"
            src="./img/sophia.png"
            alt="Sophia photo"
            srcset="./img/sophia@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Sophia L., Match-3 Expert:</h3>
          <p class="text-reviews">
            "Great balance of challenge and fun. The boosters and combos are so
            satisfying!"
          </p>
        </li>
        <li class="card-item">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews-desktop"
            width="50"
            height="50"
            src="./img/mike.png"
            alt="Mike photo"
            srcset="./img/mike@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Mike T., Travel Lover:</h3>
          <p class="text-reviews">
            "Exploring new food cultures while playing a game? Count me in!"
          </p>
        </li>
        <li class="card-item">
          <img
            class="star-reviews"
            src="./img/star.png"
            alt="Star"
            srcset="./img/star@2x.png"
            width="64"
            height="76"
          />
          <img
            class="photo-reviews-desktop"
            width="50"
            height="50"
            src="./img/sarah.png"
            alt="Sarah photo"
            srcset="./img/sarah@2x.png"
          />
          <img
            class="five-star-reviews"
            src="./img/5stars.png"
            alt="Stars"
            srcset="./img/5stars@2x.png"
            width="168"
            height="24"
          />
          <h3 class="subtitle-reviews">Sarah P., Adventure Seeker:</h3>
          <p class="text-reviews">
            "Sam&rsquo;s journey feels so real and inspiring! Can't wait to see
            what&rsquo;s next!"
          </p>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
