.list-card-gallery {
  display: none;
  @include media(desktop) {
    display: grid;
    grid-template-columns: repeat(5, 144px);
    grid-template-rows: repeat(1, 264px);
    gap: 24px;
    justify-content: center;
    align-items: flex-end;
  }
}

.star-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  @include media(desktop) {
    justify-content: center;
    gap: 92px;
  }
}

.container.galery-container {
  padding: 68px 56px 32px;
  background-image: url('../img/footer_bg_m.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  @include retina {
    background-image: url('../img/footer_bg_m@2x.png');
  }
  @include media(desktop) {
    padding: 116px 186px 70px;
    background-image: url('../img/gallery_bg_d.png');
    @include retina {
      background-image: url('../img/gallery_bg_d@2x.png');
    }
  }
}

@include media(desktop) {
  .card-gallery-box {
    margin-bottom: 62px;
  }

  .small-star-gallery {
    width: 64px;
    height: 76px;
  }

  .big-star-gallery {
    width: 96px;
    height: 116px;
  }

  .list-item-gallery:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    transform: translateY(114px);
  }

  .list-item-gallery:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    transform: translateY(38px);
  }

  .list-item-gallery:nth-child(4) {
    grid-column: 4;
    grid-row: 1;
    transform: translateY(38px);
  }

  .list-item-gallery:nth-child(5) {
    grid-column: 5;
    grid-row: 1;
    transform: translateY(114px);
  }
}

.swiper-slide.swiper-slide-active,
.swiper-slide {
  display: flex;
  justify-content: center;
}

.card-gallery {
  border: 2px solid $_white;
  border-radius: 8px;
}

.title-gallery {
  font-size: 24px;
  text-align: center;
  text-shadow: $_text_shadow_2px;
  margin-bottom: 20px;
  color: $_title_color;
  @include media(desktop) {
    font-size: 48px;
    text-shadow: $_text_shadow_3px;
    margin-bottom: 16px;
  }
}

.js-gallery-swiper {
  overflow-x: hidden;
  margin-bottom: 52px;
  @include media(desktop) {
    display: none;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: unset !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet {
  background: $_white !important;
  opacity: 1 !important;
  transition: width 500ms $_bezier,
    height 500ms $_bezier;
}

.swiper-wrapper {
  @include swiper-bottom('gallery-page');
}