.header {
  width: 100%;
  position: fixed;
  background-color: var(--bg-color);
  z-index: 999;
  top: 0;
  left: 0;
  @include media(desktop) {
    padding-bottom: 8px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  height: 56px;
  background-image: url('../img/bg_header_m.png');
  background-repeat: no-repeat;
  background-size: cover;
  @include retina {
    background-image: url('../img/bg_header_m@2x.png');
  }
  @include media(desktop) {
    height: 108px;
    background-image: url('../img/bg_header_d.png');
    box-shadow: $_shadow;
    @include retina {
      background-image: url('../img/bg_header_d@2x.png');
    }
  }
}

.head-btn {
  width: 36px;
  height: 36px;
  background-color: transparent;
  @include media(desktop) {
    display: none;
  }
}
.head-nav {
  display: none;
  @include media(desktop) {
    display: block;
  }
}
.head-list {
  display: flex;
  gap: 64px;
}
.head-list-app {
  margin-right: 56px;
}
.head-list-application {
  margin-left: 56px;
}
.head-list-link {
  font-weight: 400;
  font-size: 24px;
  color: $_main_color;
}
.menu-open-btn {
  width: 100%;
  height: 100%;
  stroke: $_main_color;
}
.head-logo {
  margin: 0 auto;
  @include media(desktop) {
    border-radius: 12px;
    width: 56px;
    height: 56px;
  }
}

// ........................MOBILE__MENU....................

.backdrop {
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(0);
  width: 100vw;
  height: 100vh;
  background: $_main_bg_color;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, transform 250ms linear,
    visibility 250ms linear;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(-50%);
}
.backdrop {
  @include media(desktop) {
    display: none;
  }
}
.mobile-container {
  display: flex;
  align-items: center;
  width: 320px;
  height: 56px;
  background-image: url('../img/bg_header_m.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 8px;
}
.mob-nav {
  width: 320px;
  background-image: url('../img/descr_bg_m.png');
  background-repeat: no-repeat;
  background-size: cover;
  //   text-shadow: $_text_shadow_2px;
  padding-bottom: 35px;
  margin-bottom: 12px;
}
.mob-list {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 320px;
  height: 504px;
}
.mob-list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--green-stroke);
  border-radius: 8px;
  padding: 24px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #24f570 0%, #7affaa 56%, #0cc24e 100%);
}
.nav-link {
  font-family: $_main_font;
  font-weight: 400;
  font-size: 24px;
  color: $_title_color;
  text-shadow: $_text_shadow_2px;
}
.mob-star {
  position: absolute;
  top: 0;
  right: 0;
}
.mob-menu-down {
  display: block;
  margin-bottom: 8px;
}
.mob-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $_text_stroke;
  border-radius: 8px;
  padding: 24px;
  width: 288px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #ffe433 0%, #fff4b0 35%, #f9bb1e 100%);
  font-family: $_main_font;
  font-weight: 400;
  font-size: 24px;
  color: $_text_stroke;
}
