//стилі для сторінок cookies, privacy, terms

.cookies-page {
  padding-top: 20px;
  padding-bottom: 24px;
  @include media(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.pages-title {
  font-size: 24px;
  margin-bottom: 24px;
  @include media(desktop) {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

@include media(desktop) {
  .container.cookies-container {
    padding: 0 56px;
  }
}

.link-return {
  border-radius: 12px;
  background: $_btn_gradient;
  border: 4px solid $_accent_color;
  box-shadow: 0 4px 4px 0 $_shadow_btn;
  width: 64px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(desktop) {
    width: 76px;
  }
}

.icon-arrow {
  fill: $_accent_color;
}

.link-box {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.text-return-page {
  font-size: 16px;
  @include media(desktop) {
    font-size: 24px;
  }
}

//p
.paragraph {
  font-size: 20px;
  margin-bottom: 20px;
  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.last.paragraph {
  margin-bottom: 0;
}

//h3
.subtitle {
  font-size: 24px;
  margin-bottom: 24px;
  @include media(desktop) {
    margin-bottom: 32px;
    font-size: 32px;
  }
}

.list-policy {
  list-style-type: disc;
  padding-left: 30px;
  @include media(desktop) {
    padding-left: 35px;
  }
}

.list-item {
  margin-bottom: 10px;
}

.website-link {
  word-break: break-all;
  font-size: 20px;
  text-decoration: underline;
  @include media(desktop) {
    word-break: keep-all;
    font-size: 24px;
  }
}
