:root {
  font-family: $_main_font;
  font-size: 20px;
  /* line-height: 24px; */
  font-weight: 400;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.home,
.cookies,
.terms,
.privacy {
  position: relative;
}

@import url('./header.scss');
@import url('./hero.scss');
@import url('./game-description.scss');
@import url('./how-to-play.scss');
@import url('./faq.scss');
@import url('./reviews.scss');
@import url('./gallery.scss');
@import url('./footer.scss');
@import url('./shared.scss');
